In [ ]:
#Microtask-1 How many features are there in the dataset?

In [2]:
import pandas as pd
import quandl
quandl.ApiConfig.api_key = "pNreTUCxWzu6sKzA6J_s"
df = quandl.get("EOD/AAPL")
df

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2013-09-03,493.10,500.600,487.350,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0
2013-09-04,499.56,502.240,496.280,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0
2013-09-05,500.25,500.680,493.640,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0
2013-09-06,498.44,499.380,489.950,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0
2013-09-09,505.00,507.920,503.480,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-21,174.17,176.020,174.100,175.010,20949896.0,0.0,1.0,41.899570,42.344619,41.882730,42.101646,83799584.0
2017-12-22,174.68,175.424,174.500,175.010,16349444.0,0.0,1.0,42.022259,42.201241,41.978957,42.101646,65397776.0
2017-12-26,170.80,171.470,169.679,170.570,33185536.0,0.0,1.0,41.088858,41.250038,40.819183,41.033528,132742144.0
2017-12-27,170.10,170.780,169.710,170.600,21498213.0,0.0,1.0,40.920461,41.084047,40.826640,41.040745,85992852.0
2017-12-28,171.00,171.850,170.480,171.080,16480187.0,0.0,1.0,41.136972,41.341454,41.011877,41.156217,65920748.0

In [3]:
len(df.columns)

12

In [5]:
df = df[['Adj_High',  'Adj_Low',  'Adj_Open',  'Adj_Close', 'Adj_Volume']]
df['HL_PCT'] = (df['Adj_High'] - df['Adj_Low']) / df['Adj_Close'] * 100.0
df['PCT_change'] = (df['Adj_Close'] - df['Adj_Open']) / df['Adj_Open'] * 100.0

In [7]:
df1 = df[['Adj_Close', 'PCT_change', 'HL_PCT',  'Adj_Volume']]
df1

            Adj_Close  PCT_change    HL_PCT   Adj_Volume
Date
2013-09-03  15.476472   -0.916650  2.711941  331928800.0
2013-09-04  15.796753   -0.173953  1.195129  345032800.0
2013-09-05  15.688388   -0.995502  1.421447  236367600.0
2013-09-06  15.781833   -0.044138  1.892738  359525600.0
2013-09-09  16.033661    0.231683  0.877176  340687200.0
...               ...         ...       ...          ...
2017-12-21  42.101646    0.482287  1.097080   83799584.0
2017-12-22  42.101646    0.188917  0.527970   65397776.0
2017-12-26  41.033528   -0.134660  1.050009  132742144.0
2017-12-27  41.040745    0.293945  0.627198   85992852.0
2017-12-28  41.156217    0.046784  0.800795   65920748.0

[1090 rows x 4 columns]

In [12]:
df2 = df1.fillna(-99999)
df2

            Adj_Close  PCT_change    HL_PCT   Adj_Volume
Date
2013-09-03  15.476472   -0.916650  2.711941  331928800.0
2013-09-04  15.796753   -0.173953  1.195129  345032800.0
2013-09-05  15.688388   -0.995502  1.421447  236367600.0
2013-09-06  15.781833   -0.044138  1.892738  359525600.0
2013-09-09  16.033661    0.231683  0.877176  340687200.0
...               ...         ...       ...          ...
2017-12-21  42.101646    0.482287  1.097080   83799584.0
2017-12-22  42.101646    0.188917  0.527970   65397776.0
2017-12-26  41.033528   -0.134660  1.050009  132742144.0
2017-12-27  41.040745    0.293945  0.627198   85992852.0
2017-12-28  41.156217    0.046784  0.800795   65920748.0

[1090 rows x 4 columns]

In [14]:
df2['Label'] = df2['Adj_Close'].shift(-1)
df2

            Adj_Close  PCT_change    HL_PCT   Adj_Volume      Label
Date
2013-09-03  15.476472   -0.916650  2.711941  331928800.0  15.796753
2013-09-04  15.796753   -0.173953  1.195129  345032800.0  15.688388
2013-09-05  15.688388   -0.995502  1.421447  236367600.0  15.781833
2013-09-06  15.781833   -0.044138  1.892738  359525600.0  16.033661
2013-09-09  16.033661    0.231683  0.877176  340687200.0  15.668432
...               ...         ...       ...          ...        ...
2017-12-21  42.101646    0.482287  1.097080   83799584.0  42.101646
2017-12-22  42.101646    0.188917  0.527970   65397776.0  41.033528
2017-12-26  41.033528   -0.134660  1.050009  132742144.0  41.040745
2017-12-27  41.040745    0.293945  0.627198   85992852.0  41.156217
2017-12-28  41.156217    0.046784  0.800795   65920748.0        NaN

[1090 rows x 5 columns]

In [15]:
df3 = df2.dropna()
df3

            Adj_Close  PCT_change    HL_PCT   Adj_Volume      Label
Date
2013-09-03  15.476472   -0.916650  2.711941  331928800.0  15.796753
2013-09-04  15.796753   -0.173953  1.195129  345032800.0  15.688388
2013-09-05  15.688388   -0.995502  1.421447  236367600.0  15.781833
2013-09-06  15.781833   -0.044138  1.892738  359525600.0  16.033661
2013-09-09  16.033661    0.231683  0.877176  340687200.0  15.668432
...               ...         ...       ...          ...        ...
2017-12-20  41.942872   -0.297364  1.244623   93902596.0  42.101646
2017-12-21  42.101646    0.482287  1.097080   83799584.0  42.101646
2017-12-22  42.101646    0.188917  0.527970   65397776.0  41.033528
2017-12-26  41.033528   -0.134660  1.050009  132742144.0  41.040745
2017-12-27  41.040745    0.293945  0.627198   85992852.0  41.156217

[1089 rows x 5 columns]

In [16]:
X = df3[['Adj_Close','PCT_change','HL_PCT','Adj_Volume']].to_numpy()
X

array([[ 1.54764725e+01, -9.16649767e-01,  2.71194073e+00,
         3.31928800e+08],
       [ 1.57967529e+01, -1.73953079e-01,  1.19512885e+00,
         3.45032800e+08],
       [ 1.56883878e+01, -9.95502249e-01,  1.42144689e+00,
         2.36367600e+08],
       ...,
       [ 4.21016459e+01,  1.88916877e-01,  5.27969830e-01,
         6.53977760e+07],
       [ 4.10335280e+01, -1.34660422e-01,  1.05000879e+00,
         1.32742144e+08],
       [ 4.10407450e+01,  2.93944738e-01,  6.27198124e-01,
         8.59928520e+07]])

In [17]:
y = df3[['Label']].to_numpy()
y

array([[15.79675289],
       [15.68838781],
       [15.78183329],
       ...,
       [41.03352802],
       [41.04074503],
       [41.15621723]])

In [18]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(X)
scaler

StandardScaler()

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((729, 4), (729, 1), (360, 4), (360, 1))

In [20]:
from sklearn import linear_model
linreg = linear_model.LinearRegression()
linreg.fit(X_train,y_train)

LinearRegression()

In [ ]:
#Microtask-4 What is MSE of the Model?

In [21]:
from sklearn.metrics import mean_squared_error
y_pred = linreg.predict(X_test)
mean_squared_error(y_test,y_pred)

0.13115904774860324