In [1]:
import pandas as pd
import glob

path = r'C:\Users\BHOOMIKA\Desktop\winternship\week4' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
frame

                  Date/Time      Lat      Lon    Base
0          4/1/2014 0:11:00  40.7690 -73.9549  B02512
1          4/1/2014 0:17:00  40.7267 -74.0345  B02512
2          4/1/2014 0:21:00  40.7316 -73.9873  B02512
3          4/1/2014 0:28:00  40.7588 -73.9776  B02512
4          4/1/2014 0:33:00  40.7594 -73.9722  B02512
...                     ...      ...      ...     ...
4534322  9/30/2014 22:57:00  40.7668 -73.9845  B02764
4534323  9/30/2014 22:57:00  40.6911 -74.1773  B02764
4534324  9/30/2014 22:58:00  40.8519 -73.9319  B02764
4534325  9/30/2014 22:58:00  40.7081 -74.0066  B02764
4534326  9/30/2014 22:58:00  40.7140 -73.9496  B02764

[4534327 rows x 4 columns]

In [2]:
frame['Date'] = pd.to_datetime(frame['Date/Time']).dt.date
frame['OnlyDate'] = pd.to_datetime(frame['Date/Time']).dt.day
frame['Month'] = pd.to_datetime(frame['Date/Time']).dt.month
frame['DayOfTheWeek'] = pd.to_datetime(frame['Date/Time']).dt.dayofweek
frame['Time'] = pd.to_datetime(frame['Date/Time']).dt.time
frame['Hour'] = pd.to_datetime(frame['Date/Time']).dt.hour
frame

,Date/Time,Lat,Lon,Base,Date,OnlyDate,Month,DayOfTheWeek,Time,Hour
0,4/1/2014 0:11:00,40.7690,-73.9549,B02512,2014-04-01,1,4,1,00:11:00,0
1,4/1/2014 0:17:00,40.7267,-74.0345,B02512,2014-04-01,1,4,1,00:17:00,0
2,4/1/2014 0:21:00,40.7316,-73.9873,B02512,2014-04-01,1,4,1,00:21:00,0
3,4/1/2014 0:28:00,40.7588,-73.9776,B02512,2014-04-01,1,4,1,00:28:00,0
4,4/1/2014 0:33:00,40.7594,-73.9722,B02512,2014-04-01,1,4,1,00:33:00,0
...,...,...,...,...,...,...,...,...,...,...
4534322,9/30/2014 22:57:00,40.7668,-73.9845,B02764,2014-09-30,30,9,1,22:57:00,22
4534323,9/30/2014 22:57:00,40.6911,-74.1773,B02764,2014-09-30,30,9,1,22:57:00,22
4534324,9/30/2014 22:58:00,40.8519,-73.9319,B02764,2014-09-30,30,9,1,22:58:00,22
4534325,9/30/2014 22:58:00,40.7081,-74.0066,B02764,2014-09-30,30,9,1,22:58:00,22
4534326,9/30/2014 22:58:00,40.7140,-73.9496,B02764,2014-09-30,30,9,1,22:58:00,22